@charset "utf-8";
/*基本标签*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
  font-family: '';
  -webkit-overflow-scrolling: touch;
}

/* 字体定义 */

body {
  font-family: "Microsoft YaHei"
}

input {
  font-family: "Microsoft YaHei"
}

ol,
ul,
li {
  list-style: none;
}

b,
strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  vertical-align: baseline;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  outline: 0;
}

body {
  font-size: 16px;
  -ms-word-break: break-all;
  -webkit-word-break: break-all;
  -moz-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: #fff;
  color: #333;
  font-family: Arial, "Microsoft YaHei";
}

/*自定义公共类样式*/

.border-box,
.border-box::before,
.border-box::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.border-box-group,
.border-box-group *,
.border-box-group *::before,
.border-box-group *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box,
.content-box::before,
.content-box::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.content-box-group,
.content-box-group *,
.content-box-group *::before,
.content-box-group *::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.font-one {
  font-family: Arial, "Microsoft YaHei";
}

.font-two {
  font-family: arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
}

.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: '';
}

.none {
  display: none;
}

.border-none {
  border: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.glo-a {
  color: #0085d0;
}

.glo-a:hover {
  color: #8dc11e;
}

.glo-success {
  color: #09BB07;
}

.glo-fail {
  color: #f85722;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

/* 弹性布局  */
.start-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.vm-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-1 {
  flex: 1;
}

.end-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.between-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.center-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

/**
*字体单行显示...
*/

.nowrap {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
*字体多行显示...
*/

.wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}


.img-file-div {
  position: relative;
}
.img-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
