@import "../cxby/mixins.scss";

// 展示页
.commission-index {
  @include match-width();

  .pandect-data {
    height: 2rem;
    width:9.2rem;
    background: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(175, 191, 207, 0.2);
    border-radius: .13rem;
    //padding-top: .2rem;
    padding-bottom: 1rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    position: relative;
    .order-more{
      position: absolute;
      top:5px;
      right:5px;
      color: #4BA8FF;
    }
    .order-eye {
      color: #4BA8FF;
      padding-left: 5px;
      padding-right: 10px;
    }
    li {
      width: 33.33%;
      height: 50%;

      line-height: .75rem;
    }

    .pandect-data-price {
      font-size: .36rem;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }

    .pandect-data-name {
      font-size: .35rem;
      font-weight: 500;
      color: rgba(153, 153, 153, 1);
      justify-content: center;
    }
  }
   /*.pandect-data {
    height: 2rem;
     width:9.2rem;
    background: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(175, 191, 207, 0.2);
    border-radius: .13rem;
    //padding-top: .2rem;
     padding-bottom: 1rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    position: relative;

  }*/
  &__padding {
    @include match-width();
    @include height(50);
    background-color: #FFF;
  }

  &__nav {
    @include match-width();
    @include height(78);
    background-color: #FFF;

    .pass {
      @include size(20, 20);
    }

    .title {
      @include font-size(36);
      font-weight: bold;
      color: #333;
    }

    .search {
      @include size(31, 31);
    }
  }

  &__tabs {
    @include match-width();
    @include height(80);
    @include font-size(28);
    @include font-weight(500);
    background-color: #FFF;
    color: #666;

    .item {

      .bar {
        @include size(44, 6);
        @include radius(3);
        background-color: transparent;
      }

      &.active {
        // font-weight: bold;
        color: #4BA8FF;

        .bar {
          background-color: #4BA8FF;
        }
      }

      &:active {
        // background-color: #DDD;
      }
    }
  }

  &__content {
    position: relative;
    overflow: auto;

    .mu-paper {
      width: 100%;
      height: 100%;
      overflow: auto;

      .mu-infinite-scroll-text {
        @include font-size(24);
        @include font-weight(400);
        color: #999;
      }
    }

    .loading {
      @include match-width();
      @include font-size(24);
      @include font-weight(400);
      color: #999;
    }
  }

  &__item {
    @include match-width();
    @include font-size(32);
    @include font-weight(500);
    @include height(150);
    border-bottom: px2rem(1) solid #DDD;
    color: #999;

    .title {
      color: #333;
    }

    .subtile {
      color: #666;
    }

    .btn {
      color: #999;

      &.active {
        color: #4BA8FF;
      }
      &.wait-statue{
        color: #FFAE3D;
      }
    }

    .icon {
      @include font-size(32);
      color: #CCC;
    }

    &.active {
      border-bottom: px2rem(1) solid transparent;
    }

    &:active {
      // background-color: #DDD;
    }
  }

  &__footer {
    @include match-width();
    @include height(98);
  }
  &__out-login {
    //margin-top: 1.17rem;
     margin-top:0.5rem;
    margin-bottom:0.5rem;
    p {
      width: 9.2rem;
      height: 1.17rem;
      line-height: 1.17rem;
      background: rgba(75, 168, 255, 1);
      border-radius: .13rem;
      font-size: .43rem;
      color: #ffffff;
    }
  }
}
.commission-apply {
  @include match-width();
  &__title{
    background-color: #4ba8ff;
    color: white;
    border-radius: .13rem;
    .money{
      font-size: 0.5rem;
      font-weight: bold;
    }
    .title-text{
      font-size: 0.4rem;
    }


  }
  .explain{
    @include match-width(90);
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    border-radius: 4px;
    font-size: 0.35rem;
    text-align: left;
    padding: 12px;
    &_ml{
      margin-left:28px;
    }
    .title{
      font-weight: bold;
      margin-bottom: 2px
    ;
    }
  }
  .pandect-data {
    @include match-width(90);
    @include height(200);
    //height: 3rem;
    //width:90%;
    background: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(175, 191, 207, 0.2);
    border-radius: .13rem;
    //padding-top: .2rem;
    padding-bottom: 1rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    position: relative;
    .order-more{
      position: absolute;
      top:5px;
      right:5px;
      color: #4BA8FF;
    }
    .order-eye {
      color: #4BA8FF;
      padding-left: 5px;
      padding-right: 10px;
    }


    .pandect-data-price {
      font-size: .36rem;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }

    .pandect-data-name {
      font-size: .35rem;
      font-weight: 500;
      color: rgba(153, 153, 153, 1);
      justify-content: center;
    }
  }
  &__padding {
    @include match-width();
    @include height(50);
    background-color: #FFF;
  }

  &__nav {
    @include match-width();
    @include height(78);
    background-color: #FFF;

    .pass {
      @include size(20, 20);
    }

    .title {
      @include font-size(36);
      font-weight: bold;
      color: #333;
    }

    .search {
      @include size(31, 31);
    }
  }

  &__tabs {
    @include match-width();
    @include height(80);
    @include font-size(28);
    @include font-weight(500);
    background-color: #FFF;
    color: #666;

    .item {

      .bar {
        @include size(44, 6);
        @include radius(3);
        background-color: transparent;
      }

      &.active {
        // font-weight: bold;
        color: #4BA8FF;

        .bar {
          background-color: #4BA8FF;
        }
      }

      &:active {
        // background-color: #DDD;
      }
    }
  }

  &__content {
    position: relative;
    overflow: auto;
    height: 9.2rem;
    width:9.2rem;
    background: white;
    .bank-info-box{
      //@include match-width();
      width: 90%;
      //border-radius: .13rem;
    }
    .bank-cark-btn-box{
      text-align: right;
      .bank-cark-btn{
        background-color: #4BA8FF;
        font-size: 0.3rem;
        padding: 4px 8px;
        color: #fff;
        border-radius: 4px;
      }
    }


    .loading {
      @include match-width();
      @include font-size(24);
      @include font-weight(400);
      color: #999;
    }
  }

  &__item {
    @include match-width();
    @include font-size(32);
    @include font-weight(500);
    @include height(150);
    border-bottom: px2rem(1) solid #DDD;
    color: #999;

    .title {
      color: #333;
    }

    .subtile {
      color: #666;
    }

    .btn {
      color: #999;

      &.active {
        color: #4BA8FF;
      }
      &.wait-statue{
        color: #FFAE3D;
      }
    }

    .icon {
      @include font-size(32);
      color: #CCC;
    }

    &.active {
      border-bottom: px2rem(1) solid transparent;
    }

    &:active {
      // background-color: #DDD;
    }
  }

  &__footer {
    @include match-width();
    @include height(98);
  }
  &__out-login {
    //margin-top: 1.17rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    p {
      width: 9.2rem;
      height: 1.17rem;
      line-height: 1.17rem;
      background: rgba(75, 168, 255, 1);
      border-radius: .13rem;
      font-size: .43rem;
      color: #ffffff;
    }
  }
}


.commission-index-record {
  .commission-index-detail__content {
    .time-range{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      flex-direction:inherit;
      .mu-input.full-width{
        width: auto;
        margin-bottom: 0;
        padding:0;
        min-height: auto;
      }
      input {
        width: px2rem(220);
        text-align: center;
      }
    }

    .mu-input-line {
      height:0;
    }
  }
}

// action-sheet
.action-sheet {
  @include match-width();
  @include font-weight(500);

  .title {
    @include match-width();
    @include font-size(36);
    @include height(90);
    @include height(120);
    background-color: #FAFAFA;
    color: #AAAAAA;

    .confirm {
      color: #4BA8FF;
    }
  }
  .max-sheet-height {
    min-height: px2rem(200);
    max-height: px2rem(500);
    overflow-y: auto;
    width:100%;
  }
  .input-wrap {
    position: relative;
    width: 100%;
    margin-top: px2rem(30);
    // padding
    .pre-icon {
      position: absolute;
      left:px2rem(80);
      top:50%;
      transform: translateY(-50%);
    }
    .input {
      @include height(60);
      @include radius(30);
      padding-left: px2rem(60);
      width: 100%;
      border:1px solid #F0F0F0;
    }
  }


  .item {
    @include match-width();
    @include font-size(32);
    @include height(120);
    background-color: #FFF;
    color: #333;
    border-bottom: px2rem(1) solid #F0F0F0;

    .pass {
      @include size(20, 20);
    }

    &.active {
      color: #4BA8FF;

      .icon {
        color: #4BA8FF;
      }
    }

    .icon {
      @include font-size(32);

      &.arrow {
        color: #999;
      }
    }
  }

  &__padding {
    @include match-width();
    @include height(20);
    background-color: #FFF;
    margin-top: px2rem(-4);
  }

  &.menu {
    @include font-size(32);
    color: #333;

    .cancel {
      color: #FF7878;
    }
  }

  &__header {
    @include match-width();
    @include height(100);
    background-color: #F0F0F0;
    color: #666;
  }

  &__content {
    @include match-width();
    @include height(400);
    @include font-size(32);
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: true;

    .item {
      border-bottom: px2rem(1) solid #F0F0F0;

      &:active {
        background-color: #F0F0F0;
        // color: #FFF;

        .icon {
          // color: #FFF;
        }
      }
    }

    .active {
      color: #4BA8FF;

      .icon {
        color: #4BA8FF;
      }
    }
  }
}
.mu-tabs {
  overflow-x: auto;
  .mu-tab-link-highlight {
    display: none;
  }
  .mu-tab-active {
    border-bottom:2px solid #ff4081;
  }
}
.mu-tab {
  min-width: 84px;
}

// no-data
.no-data {
  @include font-size(28);
  color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  img {
    @include size(260, 168);
    margin-bottom: px2rem(20);
    margin-top: px2rem(100);
  }
}






.time-dialog {
  .mu-radio-wrapper {
    margin-bottom: 10px;
  }
  .mu-input.has-label .mu-input-label {
    top: -20px;
  }
  .mu-input.has-label {
    min-height: px2rem(50);
  }
  .mu-input-line {
    height:0;
  }
  .mu-input-line.disabled {
    display: none;
  }
  .mu-input.has-label {
     padding:0;
     width: 100px;
     cursor: pointer;
   }
  .no-empty-state {
   .mu-input-label {
     display: none;
   }
 }
}

