
.page-resetpsw{
  .submit-btn {
    margin-top: 3rem;
  }
}
.btn-sec{
  width: 100%;
  margin-top: 0.2rem;
  .mu-primary-color{
    margin-top: 0.5rem !important;
    background-color: #1c88d8 !important;
  }
}

